<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing Portal</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Image Processing Portal</h1>
        <p>Select an operation to start:</p>
        <div class="list-group">
            <a href="{% url 'rgb_to_bgr' %}" class="list-group-item list-group-item-action">Convert RGB to BGR</a>
            <a href="{% url 'convert_to_grayscale' %}" class="list-group-item list-group-item-action">Convert to Grayscale</a>
            <a href="{% url 'crop' %}" class="list-group-item list-group-item-action">Crop Image</a>
            <a href="{% url 'resize' %}" class="list-group-item list-group-item-action">Resize Image</a>
            <a href="{% url 'swap_phase' %}" class="list-group-item list-group-item-action">Swap Phases</a>
            <a href="{% url 'hybrid' %}" class="list-group-item list-group-item-action">Create Hybrid Images</a>
            <a href="{% url 'blend' %}" class="list-group-item list-group-item-action">Muliresolution Image Blending</a>
            <a href="{% url 'keypoint' %}" class="list-group-item list-group-item-action">Detect keypoints in an image</a>
            <a href="{% url 'edge' %}" class="list-group-item list-group-item-action">Edge Detection</a>
            
            <!-- More operations -->
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
