<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <h1>Resize Image</h1>
        <p>Upload an image to resize:</p>

        <!-- Image upload form -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" class="form-control-file" id="imageFile" name="imageFile" required onchange="previewFile()">
            </div>
            <div class="form-group">
                <label for="ratio">Choose a standard ratio:</label>
                <select class="form-control" id="ratio" name="ratio" onchange="toggleCustomSizeInput()">
                    <option value="">Select ratio...</option>
                    <option value="1.33">4:3</option>
                    <option value="1.5">3:2</option>
                    <option value="1.77">16:9</option>
                    <!-- Add other standard ratios as needed -->
                    <option value="custom">Custom</option>
                </select>
            </div>
            <div id="custom-size-inputs" style="display: none;">
                <div class="form-group">
                    <label for="width">Custom Width:</label>
                    <input type="number" class="form-control" id="width" name="width" placeholder="Enter width">
                </div>
                <div class="form-group">
                    <label for="height">Custom Height:</label>
                    <input type="number" class="form-control" id="height" name="height" placeholder="Enter height">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Resize Image</button>
        </form>
        

        

        <div class="row">
            <div class="col-md-6">
                <!-- Container for the original image preview -->
                    
                {% if original_image_url %}
                    <h3>Original Image:"</h3>
                    <img id="imagePreview" src="{{ original_image_url }}" alt="Original Image" class="img-fluid" style="max-width: 200px; height: auto;">
                {% else %}
                    <h3 id="originalPreviewText" style="display: none;">Uploaded Image:</h3>    
                    <img id="imagePreview" src="#" alt="Image Preview" class="img-fluid" style="display: none; max-width: 200px; height: auto;">
                {% endif %}
                
                
            </div>
            <div class="col-md-6">
                <!-- Container for the converted image -->
                {% if converted_image_url %}
                    <h3>Converted Image:</h3>
                    <img src="{{ converted_image_url }}" alt="Converted Image" class="img-fluid" style="max-width: 200px; height: auto;">
                    <p>
                    <a href="{{ converted_image_url }}" download class="btn btn-success my-3">Download Converted Image</a>
                    </p>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script>
        function previewFile() {
            var preview = document.getElementById('imagePreview');
            var previewText = document.getElementById('originalPreviewText');
            var file = document.getElementById('imageFile').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                if (file) {
                    preview.src = reader.result;
                    preview.style.display = 'block';
                    previewText.style.display = 'block'; // Show the preview text
                } else {
                    preview.src = "";
                    preview.style.display = 'none';
                    previewText.style.display = 'none'; // Hide the preview text
                }
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
                preview.style.display = 'none';
                previewText.style.display = 'none'; // Ensure text is hidden if no file
            }
        }
        function toggleCustomSizeInput() {
            var ratioSelect = document.getElementById('ratio');
            var customInputs = document.getElementById('custom-size-inputs');

            // Check if the 'custom' option is selected
            if (ratioSelect.value === 'custom') {
                customInputs.style.display = 'block'; // Show the custom inputs
            } else {
                customInputs.style.display = 'none'; // Hide the custom inputs
            }
        }
    </script>
</body>
</html>
